.currency-pairs__popular-list {
    list-style-type: none;
    display: flex;
    color: #d5e0e4;
    cursor: pointer;
}

.popular-list__item {
    margin-left: 9px;
}

.currency-pairs__popular-list--mr {
    margin-right: 17px;
}

.currency-pairs__popular-list--border {
    padding-bottom: 6px;
    border-bottom: 1px solid #d5e0e4;
}

.popular-list__item:hover {
    color: #303a4f;
}