.pairs--mr {
    margin-right: 15px;
}

.first-pair {
    font-size: 24px;
    letter-spacing: 2.4px;
}

.second-pair {
    font-size: 16px;
    font-weight: 300;
    color: #303a4f;
}

.second-pair--border {
    padding-bottom: 4px;
    border-bottom: 1px solid #d5e0e4;
}