html, body, h5, ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
}

.app {
    background-color: #f0f5f7;
    font-family: MuseoSansCyrillic, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #303a4f;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.app--padding {
    padding: 31px;
}

.star_favorites--m {
    margin-right: 10px;
    margin-left: 20px;
}
