.list-item {
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0;
}

.list-item--green {
    color: #33b84c;
}

.list-item--red {
    color: #ff4b67;
}

.currency-list {
    cursor: pointer;
}

.currency-list:hover {
    background-color: #c6efff;
}

.list-item--odd {
    background-color: #f0f5f7;
}