.currency-pairs {
    background-color: #fff;
    max-width: 449px;
}

.currency-title {
    padding-top: 29px;
    margin-bottom: 20px;
}

.currency-search {
    display: flex;
    align-items: center;
    width: fit-content;
}

.currency-search--border {
    padding-bottom: 14px;
    border-bottom: 1px solid #d5e0e4;
}

.currency-pairs__list {
    font-size: 12px;
    overflow: scroll;
    max-height: 450px;
}

.currency-pairs__filters {
    display: flex;
    justify-content: space-between;
}

.currency-pairs__titles {
    margin: 0;
    padding: 0;
    background-color: #e2eaed;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.currency--ml {
    margin-left: 20px;
}

.currency--ptb {
    padding-top: 10px;
    padding-bottom: 20px;
}
